
/* Style des pages */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.control-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
}

.control-grid button {
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
    color: #28a745;
    transition: transform 0.1s, color 0.3s;
}

.control-grid button:hover {
    color: #218838;
    transform: scale(1.2);
}

.empty {
    visibility: hidden;
}



.mode-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.mode-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.mode-buttons button:hover {
    background-color: #0056b3;
}




.button {
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

.button-green {
    background-color: #28a745;
}

.button-green:hover {
    background-color: #1e7e34;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.status {
    font-size: 18px;
    color: #007bff;
    margin-top: 20px;
}